/* HOMEPAGE STYLES */

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.homepage-header {
  height: 85vh;
  font-size: 4rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.homepage-header--icon {
  font-size: 2rem;
  margin-top: 20px;
  display: block;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  color: blue;
}

.homepage-header--icon:hover {
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* TIMELINE
https://codepen.io/tutsplus/pen/QNeJgR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline > ul {
  margin: 0;
}

/* Bullet list for internal timeline descriptions */
.timeline .description-li {
  padding-top: 15px;
}

.timeline a {
  color: blue;
  transition: 0.1s;
  text-decoration: none;
}

.timeline a:hover {
  background-color: yellow;
  font-weight: bold;
}

/* Background of Timeline */
.timeline .main-ul {
  background: white;
  padding: 50px 0px;
  color: black;
}

/* Timeline "Line" */
.timeline .main-ul .main-li, .timeline .main-ul .interlude--text {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: black;
}

.timeline .main-ul .main-li:not(:first-child) {
  padding-top: 650px;
}

.interlude--text {
  padding-top: 250px;
}

/* The "Circles" on the Line */
.timeline .main-ul .main-li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline .main-ul .main-li .description {
  position: relative;
  bottom: 0;
  width: 700px;
  padding: 15px;
  background: white;
  border: 4px solid blue;
}

.timeline .main-ul .interlude--text .interlude--text-content {
  position: relative;
  bottom: 0;
  width: 700px;
  padding: 15px;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 2rem;
}

.timeline .main-ul .main-li .description::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline .main-ul .main-li .description {
  left: 45px;
}

.timeline .main-ul .main-li .description::before {
  left: -15px;
  border-width: 8px 12px 8px 0;
  border-color: transparent blue transparent transparent;
}

time {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

highlight {
  display: inline;
  background-color: yellow;
  color: black;
  font-family: "Courier Prime", monospace;
  font-weight: bold;
}

/* TIMELINE - MEDIA COLLAGE */
.timeline .media-collage {
  left: -439px;
  transform: translate3d(-700px, 400px, 0);
}

/* BACK TO TOP BUTTON
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 2px solid black;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
}

#scrollToTopBtn:hover {

}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1520px) {
  .timeline .main-ul .main-li .description, .timeline .main-ul .interlude--text .interlude--text-content  {
    width: 500px;
  }
  /* MEDIA COLLAGE */
  .timeline .media-collage {
    transform: translate3d(-600px, 400px, 0);
  }
  .timeline .media-collage img {
    width: 500px;
  }
  /* EXTRAS */
  .timeline .main-ul .interlude--text .interlude--text-content {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1110px) {
  .timeline .main-ul .main-li .description, .timeline .main-ul .interlude--text .interlude--text-content {
    width: 350px;
  }
  /* MEDIA COLLAGE */
  .timeline .media-collage {
    transform: translate3d(-400px, 400px, 0);
  }
  .timeline .media-collage img {
    width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .homepage-header {
    font-size: 2rem;
  }
  .homepage-header--icon {
    font-size: 1.2rem;
  }
  time {
    font-size: 1.2rem;
  }
  .timeline .main-ul .main-li .description, .timeline .main-ul .interlude--text .interlude--text-content {
    width: 250px;
  }
  /* MEDIA COLLAGE */
  .timeline .media-collage {
    transform: translate3d(-320px, 400px, 0);
  }
  .timeline .media-collage img {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .timeline .main-ul .main-li, .timeline .main-ul .interlude--text {
    margin-left: 20px;
  }
  .timeline .main-ul .main-li .description, .timeline .main-ul .interlude--text .interlude--text-content {
    width: calc(100vw - 91px);
  }
  /* MEDIA COLLAGE */
  .timeline .media-collage {
    display: none;
  }
}
