/* HOMEPAGE STYLES */

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.homepage-header {
    height: 100vh;
    font-size: 4rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.homepage-header--icon {
    font-size: 2rem;
    margin-top: 20px;
    display: block;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    color: blue;
}

.homepage-header--icon:hover {
  cursor: pointer;
}

/* TEST ITEM
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

@keyframes pulse {
0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

/* TIMELINE
https://codepen.io/tutsplus/pen/QNeJgR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline > ul {
  margin: 0;
}

/* Background of Timeline */
.timeline ul {
  background: white;
  padding: 50px 0px;
  color: black;
}

/* Timeline "Line" */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: black;
}

.timeline ul li:not(:first-child) {
  padding-top: 450px;
}

/* The "Circles" on the Line */
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 700px;
  padding: 15px;
  background: white;
  border: 4px solid blue;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li div {
  left: 45px;
}

.timeline ul li div::before {
  left: -15px;
  border-width: 8px 12px 8px 0;
  border-color: transparent blue transparent transparent;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1520px) {
  .timeline ul li div {
    width: 500px;
  }
}

@media screen and (max-width: 1110px) {
  .timeline ul li div {
    width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .homepage-header {
    font-size: 2rem;
  }
  .timeline ul li div {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
}